<h1>Who I am</h1>
<div class="container">
    <div class="photo-container">
        <img src="https://drive.google.com/file/d/1-BEDZMU3Dn60jusLAfiyPhDrDw-3KQOQ/view?usp=sharing" alt="Renato Madeia Muiambo"/>
    </div>
    <div>
        <p>{{ nome }} é um jovem moçambicano de   {{ idade }} anos, natuarla da Cidade de   {{ cidade }}, com uma sólida formação acadêmica na área de tecnologia. Graduado em Administração de Sistemas de Redes Informáticas pelo Instituto Superior Dom Bosco, Renato atualmente cursa o mestrado em Engenharia Informática e Tecnologia Web na Universidade Aberta, onde se dedica a expandir seus conhecimentos e habilidades.</p>
        <p>Apaixonado por programação, ele tem se aprofundado em diversas tecnologias, buscando constantemente novas linguagens e ferramentas para aprimorar suas competências. Além disso, Renato tem um grande interesse por áreas emergentes, como inteligência artificial e análise de dados, e se dedica a criar soluções inovadoras que possam impactar positivamente tanto a sociedade quanto o mercado de trabalho.</p>
        <p>Com um forte compromisso com o aprendizado contínuo e a colaboração, Renato está sempre em busca de novos desafios que o ajudem a expandir sua carreira e consolidar-se como um programador de destaque. Seu objetivo é liderar iniciativas de transformação digital, antecipando as necessidades do futuro e criando soluções que façam a diferença.</p>
    </div>  
    
</div>
<!-- <section class="banner">
    <h1>Who am I</h1>
</section> -->

