/* .banner
{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../../assets/images/IMG_6127.JPG'); 
    background-size: contain;
} */
