<footer>
    <div class="sec">
      <h4>devWN</h4>
      <p>Uma página Sobre Nós existe para compartilhar a história e a história de um negócio e fornecer uma conexão mais profunda com os clientes.

        Os consumidores querem conhecer a equipe por trás da marca que eles estão apoiando. Uma página Sobre Nós fornece o imóvel perfeito para puxar a cortina para trás e revelar quem está trabalhando nos bastidores.
        
        Mais importante, porém, uma página Sobre Nós facilita a confiança entre o consumidor e o negócio.</p>
    </div>
    <div class="sec">
        <h4>Navbar Links</h4>
        <ul>
            <li><a routerLink="/home">Home Page</a></li>
            <li><a routerLink="/about">Who am I</a></li>
            <li><a routerLink="/abilities"> What do I do</a></li>
            <li><a routerLink="/hobbies">Hobbies</a></li>
        </ul>
    </div>
    <div class="sec">
        <h4>Contact Us</h4>
        <ul>
            <li><a hrefe=""><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href=""> <i class="fab fa-google-plus-g"></i> Google+</a></li>
            <li><a href="https://x.com/thinNugly" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/renato-madeia-muiambo-a5229014b" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a></li>
        </ul>
    </div>
</footer>
