<h1>What do I do</h1>
<div class="container">
    
    <p><strong>Renato Madeia Muiambo</strong> é docente universitário no Instituto Superior Dom Bosco, onde leciona diversos módulos, incluindo programação, bases de dados, entre outros, abordando tópicos essenciais da área de tecnologia da informação. Com uma abordagem prática, ele ensina aos alunos as melhores práticas de desenvolvimento e gestão de sistemas, preparando-os para os desafios do mercado de trabalho.</p>
    
    <p>Além de sua atuação acadêmica, Renato é desenvolvedor com experiência sólida em várias linguagens de programação, como Python, Java, JavaScript, PHP, entre outras. Ele aplica esses conhecimentos no desenvolvimento de soluções inovadoras e eficientes, sempre em busca de melhorar a experiência do usuário e otimizar o desempenho das aplicações. Sua expertise em tecnologias modernas e sua dedicação à educação fazem dele um profissional altamente capacitado, tanto na sala de aula quanto no campo prático do desenvolvimento de software.</p>    
</div>
<!-- <section class="banner">
    <h1>What do I do</h1>
</section> -->
