<h1>Hobbies</h1>
<div class="container">
    <ol>
        <p>
            <li>Programação – Desenvolvimento de software, criação de aplicações, aprendizado de novas linguagens e ferramentas.</li>
            <li>Leitura – Interesse por livros sobre tecnologia, desenvolvimento pessoal e temas relacionados à área de informática e inovação.</li>
            <li>Tecnologia e Inovação – Acompanhamento de tendências tecnológicas, gadgets, e a exploração de novas ferramentas digitais.</li>
            <li>Jogos de Estratégia – Jogos que desafiam habilidades cognitivas, como xadrez ou jogos de simulação e desenvolvimento.</li>
            <li>Exploração de novas linguagens de programação – Aprender novas linguagens, frameworks ou tecnologias para expandir seus conhecimentos.</li>
            <li>Desenvolvimento de projetos pessoais – Criação de projetos paralelos, como sites, aplicativos ou soluções de automação.</li>
            <li>Fotografia – Capturar momentos, especialmente com o uso de câmeras ou até mesmo smartphones, aprimorando a técnica fotográfica.</li>
            <li>Cinema e Séries – Apreciar filmes e séries, especialmente os que envolvem temas tecnológicos, ficção científica ou programação.</li>
            <li>Esportes – Se você se interessa por esportes, pode ser algo como futebol, basquete ou até esportes eletrônicos (e-sports).</li>
            <li>Aprendizado contínuo – Participação em cursos online, tutoriais ou workshops, focando sempre no seu desenvolvimento pessoal e profissional.</li>
        </p>
    </ol>
    
</div>
<!-- <section class="banner">
    <h1>Hobbies</h1>
</section> -->
